<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-bordered border-primary">
                        <thead>
                        <tr scope="row">
                            <th scope="col">title</th>
                            <th scope="col">description</th>
                            <th scope="col">venue</th>
                            <th scope="col">duration</th>
                            <th scope="col">date</th>
                        </tr></thead>
                        <tbody>
                        <tr *ngFor="let i of data" scope="row">
                            <td scope="col">{{i.title}}</td>
                            <td scope="col">{{i.description}}</td>
                            <td scope="col">{{i.venue}}</td>
                            <td scope="col">{{i.duration}}</td>
                            <td scope="col">{{i.date}}</td>
                        </tr></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
  </div>
